body{
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}   

.container{
    background-color: #fff;
    width: 350px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.container .image{
    width: 300px;
    border-radius: 10px;
}

.container-text{
    text-align: center;
}

.container-text .title{
    color: hsl(218, 44%, 22%);
    margin: 15px 0;
}

.container-text .text{
    color: hsl(220, 15%, 55%);
    max-width: 270px;
    margin: 15px auto;
}